* {
    box-sizing: border-box;
  }

body{
    background: #ededed;
    text-align: center;
    margin: 0;
}

.container{
    padding: 5px;
}

.dayNow{
    color:#017d27;
}

.daySelect{
    color:#0094f8;
}

.day-wrap{
    background-color: #cbcbcb;
    padding: 0;
}

.active{
    outline: #fff solid 1px;
    box-shadow: 0px 0px 5px #333;
}

li{
    display: inline-block;
    list-style: none;
    padding: 15px;
    margin: 5px;
    background-color: #0094f8;
    color: #ffffff;
    cursor: pointer;
}

li.current{
    background-color: #017d27;
}